.forgot_password {
    margin-top: 10px;
}
.register_img {
    width: 600px;
    height: 100vh;
    background-image: url("../assets/images/register_img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.check_email {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 65px;
    margin-top: 66px;
}
.check_email h5 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #231C35;
}
.check_email p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7D7D7D;
}
.check_email::before {
    content: '';
    width: 48px;
    height: 48px;
    min-width: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); 
    background-image: url("../assets/images/icons/information-fill.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    background-color: #DCE6F5;
    border-radius: 10px;
}
.input_row.change_pass label{
    position: relative;
}
.input_row.change_pass label::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-image: url("../assets/images/icons/eye_icon.svg");
    background-repeat: no-repeat;
    background-size: cover;

}